.App {
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: start;
  display: flex;
  align-items: baseline;
  border-bottom: #111111 solid;
}

h1 {
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}
